/* file: app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-navy: #00004d;
  --text-neon-green: #39ff14;
  --text-neon-red: #ff3131;
}

body {
  background-color: var(--background-navy);
  color: var(--text-neon-green);
}

a {
  color: var(--text-neon-green);
}

h2 {
  font-weight: normal;
}